/*
 * Required 
*/

#contents .container { width:940px; height:360px;overflow:hidden; position:relative; cursor:pointer; margin-top:35px;}
#contents .slides { position:absolute; top:0; left:0; list-style:none; padding:0; margin:0; }
#contents .slides li { position:absolute; top:0; width:940px; display:none; padding:0; margin:0; }
/*
 * Optional
*/
#contents .galleryslider { margin:0 auto; width:940px; padding-bottom:0; position:relative; clear:both; }
#contents .slides li { }
#contents ul.pagination { list-style:none; padding:0; margin:35px 0 35px 0; width:600px; }
#contents ul.pagination li  { float:left; }
#contents ul.pagination li img { height:50px; width:50px;border:4px solid #747474; margin-right:5px; }
#contents ul.pagination li.active img{ height:50px; width:50px; border:4px solid #111;}

#contents .navigation { font-size:13px; color:#111; margin-top:25px; float:right; }


#contents .gr-portfolio {
	padding: 10px 0 0 0; 
	}
	#contents .gr-portfolioitem { width:620px; float:left;}
	#contents .gr-portfolio-miditem { width:460px; float:left;}
	#contents .gr-contentblock {width:300px; float:right; padding-top:10px; }
	#contents .gr-contentmid {width:460px; float:right; padding-top:10px; }
	#contents .gr-description {color:#919191; font-weight:normal; padding-right:20px;font-size:13px; color:#7d7d7d; line-height:1.6;}
	#contents .gr-smalldesc {color:#919191; font-weight:normal; padding-right:20px; padding-top:10px;font-size:11px; color:#7d7d7d; line-height:1.6;}
	#contents .gr-highlight {color:#747474; font-size:16px; font-weight:normal; padding:0 20px 10px 0;}
		#contents .gr-title { color:#5D5D5D; font-size:22px; padding:20px 0 20px 0; font-weight:bold;text-decoration:none;}
		#contents .gr-title a { color:#5D5D5D;text-decoration:none; }
		#contents .gr-title a:hover { color:#111; text-decoration:none;}
	
	#contents .gr-portfolioitem-rl { width:620px; float:right;}
	#contents .gr-portfolio-miditem-rl { width:460px; float:right;}
	#contents .gr-contentblock-rl {width:300px; float:left; padding-top:10px; }
	#contents .gr-contentmid-rl {width:460px; float:left; padding-top:10px; }
		
#contents .gallery-title { color:#5D5D5D; font-size:22px; padding:20px 0 20px 0; font-weight:bold;}
#contents .gallery-title a { color:#5D5D5D; }
#contents .gallery-title a:hover { color:#111; text-decoration:none;}
#contents .gallery-description {color:#919191; font-weight:normal; padding-right:20px; padding-top:10px;font-size:13px; color:#7d7d7d; line-height:1.6;}
