		#contents .slideshowgallery { margin-bottom:55px; }
		#contents .container { width:940px; height:680px; overflow:hidden; position:relative; cursor:pointer;}
		#contents .slides { position:absolute; top:0; left:0; }
		#contents .slides div { position:absolute; top:0; width:940px; display:none; }
		#contents #loopedSlider { width:940px; position:relative; clear:both; }
		#contents ul.pagination { list-style:none; padding:0; margin:20px 0 0 0; width:410px;  }
		#contents ul.pagination li  { float:left; margin-bottom:10px; font-weight:normal;}
		#contents ul.pagination li img { height:50px; width:50px;border:4px solid #747474; margin-right:5px; }
		#contents ul.pagination li.active img{ height:50px; width:50px; border:4px solid #111;}
		#contents ul.pagination li.active { font-weight:bold;}
		
		#contents .navigation { font-size:13px; color:#111; font-weight:bold; margin:20px 0 0 0; padding:0; float:right; }

		
		#contents .slideimage {float:left;}
		#contents .slidecaption {
			color:#5D5D5D;
			font-size:12px;
			line-height:18px;
			width: 940px;
			}
			
	#contents .slidecaption a {color:#111; }
	#contents .slidecaption a:hover {text-decoration:none;}
	
	
#contents .slidecaptiontitle {
	font-size:14px; font-weight:bold; color:#464646; display:block; padding-bottom:10px;

}

	#contents .slidecaptiontitle a {
		color:#111;
	}
	
	#contents .slidecaptiontitle a:hover {
		color:#111; text-decoration:none;
	}