{% extends 'fullmoon/skeletons/base/fullwidth.html'%}

{% block content_slider %}
<script type='text/javascript'>
  $(function() {


    });
</script>
    
<div id="featured">
<div id="feature_list">

      <ul id="tabs">
        <li> <a href="javascript:;"> <span class="title">Pembangunan</span><br />
          <span>Mewujudkan aplikasi sesui kebutuhan Anda</span></a> </li>
        <li> <a href="javascript:;"> <span class="title">Konsultasi</span><br />
          <span>Memecahkan masalah IT Anda dengan tepat</span></a> </li>

        <li> <a href="javascript:;"> <span class="title">Pelatihan</span><br />
          <span>Pengetahuan untuk kemajuan bisnis Anda</span></a> </li>
        <li> <a href="javascript:;"> <span class="title">Dukungan</span><br />
          <span>Meningkatkan kinerja bisnis Anda </span></a> </li>

      </ul>
      <ul id="output">
        <li> <img src="/static/fullmoon/assets/images/featured list/sample1.jpg" alt="featured one" /> <a href="{% url static_page 'layanan-jasa-pembangunan' %}">Baca lebih lanjut mengenai ini</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample2.jpg" alt="featured two" /> <a href="{% url static_page 'layanan-jasa-konsultasi' %}">Baca lebih lanjut mengenai ini</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample3.jpg" alt="featured three" /> <a href="{% url static_page 'layanan-pelatihan' %}">Baca lebih lanjut mengenai ini</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample4.jpg" alt="featured four" /> <a href="{% url static_page 'layanan-jasa-dukungan' %}">Baca lebih lanjut mengenai ini</a></li>
      </ul>
    </div>
</div>
{% endblock %}

{% block content_left %}
{% endblock %}