{% extends 'fullmoon/skeletons/base/fullwidth.html'%}

{% block content_slider %}
<script type='text/javascript'>
  $(function() {


    });
</script>
    
<div id="featured">
<div id="feature_list">

      <ul id="tabs">
        <li> <a href="javascript:;"> <span class="title">Pembangunan</span><br />
          <span>Lorem ipsum dolor sit amet consect</span></a> </li>
        <li> <a href="javascript:;"> <span class="title">Kosultasi</span><br />
          <span>Lorem ipsum dolor sit amet consect</span></a> </li>

        <li> <a href="javascript:;"> <span class="title">Pelatihan</span><br />
          <span>Lorem ipsum dolor sit amet consect</span></a> </li>
        <li> <a href="javascript:;"> <span class="title">Dukungan</span><br />
          <span>Lorem ipsum dolor sit amet consect</span></a> </li>

      </ul>
      <ul id="output">
        <li> <img src="/static/fullmoon/assets/images/featured list/sample1.jpg" alt="featured one" /> <a href="#">See project details</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample2.jpg" alt="featured two" /> <a href="#">View project</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample3.jpg" alt="featured three" /> <a href="#">See project details</a></li>
        <li> <img src="/static/fullmoon/assets/images/featured list/sample4.jpg" alt="featured four" /> <a href="#">View project</a></li>
      </ul>
    </div>
</div>
{% endblock %}

{% block content_left %}
{% endblock %}