{% extends 'fullmoon/skeletons/base/fullwidth.html'%}

{% block content_left %}
    <div class="hr_line"></div>
    <div class="intro">
      <h2>Portofolio Kami</h2>
       <p>
        Dengan berbagai keahlian yang tim kami kuasai, berbagai proyek teknologi informasi telah kami kerjakan.
        Berikut ini adalah Proyek-proyek dari berbagai bidang yang telah kami kerjakan 
       </p>
    </div>
    <div class="hr_line"></div>
    <div id="content-full">
    {% for porto in porto_list %}
     <div class="portfolio-full-page"> 
          <div class="portfolio-list-image"><img src="/media/{{ porto.main_picture}}" alt="Project title" /></div>
          <div class="portfolio-list-text">
            <h2>{{ porto.title }}</h2>
            <p>{{ porto.description}}</p>
            <div class="portfolio-list-thumbs">
                <!--{% for thumb in porto.other_media.all %}
                <a class="project-list-thumb" href="#">
                    <img alt="image" src="/static/fullmoon/assets/images/portoflio/portfolio list/thumb-01.jpg" />
                </a>
                {% endfor %}-->
            </div>
            <div class="hr"> </div>
            {% if porto.website %}
           <a class="view-project" href="{{ porto.website }}" terget="blank">Website Proyek</a>
           {% endif %}
          </div>
      </div>
      <div class="hr"></div>
      {% endfor %}
     
    
    <div class="pagination">
    <span class="step-links">
        {% if porto_list.has_previous %}
            <a href="?page={{ porto_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ porto_list.number }} of {{ porto_list.paginator.num_pages }}.
        </span>

        {% if porto_list.has_next %}
            <a href="?page={{ .next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>
    <br/>
  </div>
{% endblock %}